---
layout: default
title: Upcoming
---

<ul class="conference-list list-unstyled">

{% assign today = site.time | date: "%s" %}

{% assign upcoming_conferences = "" | split: "" %}
{% for conference in site.conferences %}
{%   assign date_end = conference.date_end | date: "%s" %}
{%   if today <= date_end %}
{%     assign upcoming_conferences = upcoming_conferences | push: conference %}
{%   endif %}
{% endfor %}

{% assign sorted_conferences = upcoming_conferences | sort: 'date_start' %}
{% for conference in sorted_conferences %}
  <li>
    {% include general_data.html %}
    {% include cfp_data.html %}
    {% include live_data.html %}
  </li>
{% endfor %}
</ul>
