---
layout: default
title: TechConf by Chimichurri Code
---


{% assign today_without_time = site.time | date: "%Y-%m-%d" %}
{% assign today = today_without_time | date: "%s" %}

{% assign upcoming_conferences = "" | split: "" %}
{% for conference in site.conferences %}
{%   assign date_end = conference.date_end | date: "%s" %}
{%   if today <= date_end %}
{%     assign upcoming_conferences = upcoming_conferences | push: conference %}
{%   endif %}
{% endfor %}

{% assign sorted_conferences = upcoming_conferences | sort: 'date_start' %}
{% include main_list.html type_of_events='upcoming' %}
