---
layout: default
title: Past
---

{% assign today_without_time = site.time | date: "%Y-%m-%d" %}
{% assign today = today_without_time | date: "%s" %}

{% assign past_conferences = "" | split: "" %}
{% for conference in site.conferences %}
{%   assign date_end = conference.date_end | date: "%s" %}
{%   if today > date_end %}
{%     assign past_conferences = past_conferences | push: conference %}
{%   endif %}
{% endfor %}

{% assign sorted_conferences = past_conferences | sort: 'date_start' | reverse %}
{% include main_list.html type_of_events='past' %}
