
{{ conference.date_start | date: "%d" }}&nbsp;
{% if conference.twitter %}
{% assign random_number = site.time | date: "%N" | modulo: 1000 %}
<img alt="Avatar {{ conference.name }}" src="https://res.cloudinary.com/dsscw65fc/image/twitter_name/{{ conference.twitter | split: '/' | last }}" onerror="this.onerror=null; this.src='https://avatar.vercel.sh/{{ random_number }}?size=50'" width="50" height="50">
{% endif %}
<a class="post-link" href="{{ conference.website }}">{{ conference.name }}</a>
{% if conference.location %}
&nbsp;<small>{{ conference.location | remove: ", Spain"}}</small>
{% endif %}
{% if conference.twitter %}
<a href="{{ conference.twitter }}"><img src="img/icn_twitter.png" alt="twitter icon" width="24px"/></a>
{% endif %}
