{% assign conferences_grouped_by_year = sorted_conferences | group_by_exp:"conference", "conference.date_start | date: '%Y'" %}
{% for conferences_by_year in conferences_grouped_by_year %}
  <h2>{{ conferences_by_year.name }}</h2>
  {% assign conferences_grouped_by_month = conferences_by_year.items | group_by_exp:"conference", "conference.date_start | date: '%m'" %}
  {% for conferences_by_month in conferences_grouped_by_month %}
    <h3>{{ conferences_by_month.items.first.date_start | date: '%B' }}</h3>
    <ul class="conference-list list-unstyled">
    {% for conference in conferences_by_month.items %}  
      <li>
        {% include general_data.html %}
        {% if include.type_of_events == 'upcoming' %}
        {%   include cfp_data.html %}
        {%   include live_data.html %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}
