<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Conferencias Tech España</title>
    <meta name="title" content="Conferencias Tech 🇪🇸">
    <meta name="description" content="A community-curated list of tech conferences around Spain.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://techconf.es/">
    <meta property="og:title" content="Conferencias Tech España">
    <meta property="og:description" content="A community-curated list of tech conferences around Spain.">
    <meta property="og:image" content="https://techconf.es/img/thumbnail.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://techconf.es/">
    <meta property="twitter:title" content="Conferencias Tech España">
    <meta property="twitter:description" content="A community-curated list of tech conferences around Spain.">
    <meta property="twitter:image" content="https://techconf.es/img/thumbnail-twitter.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    
    <!-- Google Analytics -->
    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="main-title">Conferencias Tech 🇪🇸</h1>
        
        <nav class="navigation">
          <ul class="nav-links">
            <li><a href="{{site.baseurl}}/" {% if page.url == "/" %}class="active"{% endif %}>Próximos</a></li>
            <li><a href="{{site.baseurl}}/past.html" {% if page.url == "/past.html" %}class="active"{% endif %}>Pasados</a></li>
            <li><a href="https://github.com/npatarino/tech-conferences-spain/#adding-a-conference">Añadir evento</a></li>
          </ul>
        </nav>
      </header>

      <main class="main-content">
        {{ content }}
      </main>

      <footer class="footer">
        <div class="footer-links">
          <a href="conferences.ics">iCalendar</a>
          <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
          <a href="https://github.com/npatarino/tech-conferences-spain/">GitHub</a>
        </div>
        
      </footer>
    </div>
  </body>
</html>
